# Snakemake internal files
.snakemake/

# Output data (The numerical folders we created)
var-con_pipeline/
00_cellsnp_results/
01_consistency_counts/
02_variant_indices/
03_metrics/
var_con_output/
.snakemake/
logs/cluster/*
var_con_output/**

!logs/cluster/.gitkeep
!var_con_output/.gitkeep

# Python cache
__pycache__/
*.pyc

# Log files
logs/
*.log

# Conda environment prefix (if created locally)
.conda/
var_con_output/
